@model UnifiApiDemo.Models.SampleResultViewModel

@{
    ViewData["Title"] = "Sample Result Details";
}

<br /><br />
          <div>
              <h3 class="text-primary">Sample Result Details</h3>
              <hr />
              <dl class="dl-horizontal">
                  <dt>
                      @Html.DisplayNameFor(model => model.Id)
                  </dt>
                  <dd>
                      @Html.DisplayFor(model => model.Id)
                  </dd>
                  <dt>
                      @Html.DisplayNameFor(model => model.Name)
                  </dt>
                  <dd>
                      @Html.DisplayFor(model => model.Name)
                  </dd>
                  <dt>
                      @Html.DisplayNameFor(model => model.Description)
                  </dt>
                  <dd>
                      @Html.DisplayFor(model => model.Description)
                  </dd>
              </dl>

          </div>
          <br />
<div id="sampleDetails">
    <h3 class="text-primary">Sample Details</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Sample.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Sample.Id)</dd>
        <dt>@Html.DisplayNameFor(model => model.Sample.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Sample.Name)</dd>
        <dt>@Html.DisplayNameFor(model => model.Sample.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Sample.Description)</dd>
        <dt>@Html.DisplayNameFor(model => model.Sample.SampleType)</dt>
        <dd>@Html.DisplayFor(model => model.Sample.SampleType)</dd>
        <dt>@Html.DisplayNameFor(model => model.Sample.AcquisitionStartTime)</dt>
        <dd>@Html.DisplayFor(model => model.Sample.AcquisitionStartTime)</dd>
        <dt>@Html.DisplayNameFor(model => model.Sample.WellPosition)</dt>
        <dd>@Html.DisplayFor(model => model.Sample.WellPosition)</dd>
        <dt>@Html.DisplayNameFor(model => model.Sample.InjectionVolume)</dt>
        <dd>@Html.DisplayFor(model => model.Sample.InjectionVolume)</dd>
        <dt>@Html.DisplayNameFor(model => model.Sample.ProcessingOptions)</dt>
        <dd>@Html.DisplayFor(model => model.Sample.ProcessingOptions)</dd>
        <dt>@Html.DisplayNameFor(model => model.Sample.ProcessingFunction)</dt>
        <dd>@Html.DisplayFor(model => model.Sample.ProcessingFunction)</dd>
        <dt>@Html.DisplayNameFor(model => model.Sample.InjectionId)</dt>
        <dd>@Html.DisplayFor(model => model.Sample.InjectionId)</dd>
    </dl>
</div>

<div id="components">
    <h3 class="text-primary">Components</h3>
    <hr />
    @{ Html.RenderPartial("~/Views/Home/_Components.cshtml", Model.Components); }
</div>

<div id="mzmlConvertInfo">
    <h3 class="bg-primary">The current result contains <b>@Model.IdentifiedSpectraCount</b> mass spectra.</h3>
    <p style="margin-left: 10px;"><em>Please note that the MzML conversion is processing about 3500 scans per hour!</em></p>
</div>

<br /><br />
                <div>
                    @if(Model.MzmlFileExistsOnServer)
                    {
                        <button class="btn btn-primary glyphicon glyphicon-export disabled" value="Convert to MzML" data-toggle="tooltip" data-placement="top" title="There is already a MzML file available on the server for this sample. Please press the download button.">&nbsp;Convert to MzML</button>
                        @Html.ActionLink(" Download MzML file", "DownloadMzmlFile", new { fileName = Model.Name }, new { @class = "btn btn-primary glyphicon glyphicon-download-alt", @id = "downloadFileButton" })
                    }
                    else
                    {
                        @Html.ActionLink(" Convert to MzML", "ConvertToMzML", new { resultId = Model.Id }, new { @class = "btn btn-primary glyphicon glyphicon-export", @id = "convertButton", @target = "_blank", data_toggle = "tooltip", data_placement = "top", title = "Once the file will be created, the download button will get active." })
                        <button class="btn btn-primary glyphicon glyphicon-download-alt disabled" value="Download MzML file" data-toggle="tooltip" data-placement="top" title="There is no MzML file available on the server for this sample. Please press the convert button.">&nbsp;Download MzML file</button>
                    }                    
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a asp-action="Index" class="btn btn-primary glyphicon ">Back to Folders</a>
                </div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function() {

            $('#convertButton').click(function() {
                waitingDialog.show(
                    'Convert to MzML. This might take up to several hours...\n The generated file size usually is very large.');
                setTimeout(function() { waitingDialog.hide(); }, 15000);
            });

            $(function() {
                $('[data-toggle="tooltip"]').tooltip();
            });

            $('.panel-collapse').on('show.bs.collapse',
                function() {
                    $(this).siblings('.panel-heading').addClass('active');
                });

            $('.panel-collapse').on('hide.bs.collapse',
                function() {
                    $(this).siblings('.panel-heading').removeClass('active');
                });
        });

    </script>
}
