@model UnifiApiDemo.Models.SampleResultViewModel

@{
    ViewData["Title"] = "Sample Result Details";
}

<br /><br />
          <div>
              <h4>Sample Result Details</h4>
              <hr />
              <dl class="dl-horizontal">
                  <dt>
                      @Html.DisplayNameFor(model => model.Id)
                  </dt>
                  <dd>
                      @Html.DisplayFor(model => model.Id)
                  </dd>
                  <dt>
                      @Html.DisplayNameFor(model => model.Name)
                  </dt>
                  <dd>
                      @Html.DisplayFor(model => model.Name)
                  </dd>
                  <dt>
                      @Html.DisplayNameFor(model => model.Description)
                  </dt>
                  <dd>
                      @Html.DisplayFor(model => model.Description)
                  </dd>
              </dl>

          </div>
          <br />
          <div>
              <h4>Sample Details</h4>
              <hr />
              <dl class="dl-horizontal">
                  <dt>@Html.DisplayNameFor(model => model.Sample.Id)</dt>
                  <dd>@Html.DisplayFor(model => model.Sample.Id)</dd>
                  <dt>@Html.DisplayNameFor(model => model.Sample.Name)</dt>
                  <dd>@Html.DisplayFor(model => model.Sample.Name)</dd>
                  <dt>@Html.DisplayNameFor(model => model.Sample.Description)</dt>
                  <dd>@Html.DisplayFor(model => model.Sample.Description)</dd>
                  <dt>@Html.DisplayNameFor(model => model.Sample.SampleType)</dt>
                  <dd>@Html.DisplayFor(model => model.Sample.SampleType)</dd>
                  <dt>@Html.DisplayNameFor(model => model.Sample.AcquisitionStartTime)</dt>
                  <dd>@Html.DisplayFor(model => model.Sample.AcquisitionStartTime)</dd>
                  <dt>@Html.DisplayNameFor(model => model.Sample.WellPosition)</dt>
                  <dd>@Html.DisplayFor(model => model.Sample.WellPosition)</dd>
                  <dt>@Html.DisplayNameFor(model => model.Sample.InjectionVolume)</dt>
                  <dd>@Html.DisplayFor(model => model.Sample.InjectionVolume)</dd>
                  <dt>@Html.DisplayNameFor(model => model.Sample.ProcessingOptions)</dt>
                  <dd>@Html.DisplayFor(model => model.Sample.ProcessingOptions)</dd>
                  <dt>@Html.DisplayNameFor(model => model.Sample.ProcessingFunction)</dt>
                  <dd>@Html.DisplayFor(model => model.Sample.ProcessingFunction)</dd>
                  <dt>@Html.DisplayNameFor(model => model.Sample.InjectionId)</dt>
                  <dd>@Html.DisplayFor(model => model.Sample.InjectionId)</dd>
              </dl>
          </div>
          <br /><br />
                <div>
                    @if(Model.MzmlFileExistsOnServer)
                    {
                        <button class="btn btn-primary glyphicon glyphicon-export disabled" value="Convert to MzML">Convert to MzML</button>                                
                        @Html.ActionLink("Download MzML file", "DownloadMzmlFile", new { fileName = Model.Name }, new { @class = "btn btn-primary glyphicon glyphicon-download-alt", @id = "downloadFileButton" })
                    }
                    else
                    {
                        @Html.ActionLink("Convert to MzML", "ConvertToMzML", new { resultId = Model.Id }, new { @class = "btn btn-primary glyphicon glyphicon-export", @id = "convertButton", @target = "_blank" })        
                        <button class="btn btn-primary glyphicon glyphicon-download-alt disabled" value="Download MzML file">Download MzML file</button>
                    }                    
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a asp-action="Index" class="btn btn-primary glyphicon ">Back to Folders</a>
                    
                    
                    
                </div>

@section Scripts
{
    <script type="text/javascript">

        $('#convertButton').click(function () {
            waitingDialog.show('Convert to MzML. This might take up to an hour...\n The generated file size usually is very large.');
            setTimeout(function () { waitingDialog.hide(); }, 15000);

            @*var link = "@Url.Action("ConvertToMzML", "Home", new { resultId = Model.Id })";            
             $.ajax(link)
                 .done(function (resp) {
                     $(resp).modal.show();
                })
                 .fail(function (error) {
                     alert(error);
                    console.log(error);
                });*@
        });

    </script>
}
